  	    <div class="panel panel-default text-center">
            <div class="panel-body">
              <p>
              <p><h2><%= @product.name %></h2></p>

              <%= image_tag @product.image.url(:medium) %>

              <p><h4> Descrição: <%= @product.description %></h4></p> 

              <% if @product.category %>
              <p><h4> Categoria: <%= @product.category.name %></h4></p> 
              <% end %>

              <p><h4> Preço: R<%= number_to_currency( @product.price) %> </h4></p>
              <a href="#" class="btn btn-danger"> Comprar</a>
              <%= link_to  "Voltar", root_path, :class => 'btn btn-primary' %> 
              </p>
        </div>
      </div>
