<h1>Shopping Cart</h1>
<table>
  <th>Item</th>
  <% if @cart %>
    <% @cart.items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<%= link_to "Clear Cart", 'carts/clear' %> | <%= link_to "Checkout", new_encomenda_path%>