<h1>Listing encomendas</h1>

<table>
  <thead>
    <tr>
      <th>Endereco</th>
      <th>Cartao credito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encomendas.each do |encomenda| %>
      <tr>
        <td><%= encomenda.endereco %></td>
        <td><%= encomenda.cartao_credito %></td>
        <td><%= link_to 'Show', encomenda %></td>
        <td><%= link_to 'Edit', edit_encomenda_path(encomenda) %></td>
        <td><%= link_to 'Destroy', encomenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encomenda', new_encomenda_path %>
