<p id="notice"><%= notice %></p>

<p>
  <strong>Endereco:</strong>
  <%= @encomenda.endereco %>
</p>

<p>
  <strong>Cartao credito:</strong>
  <%= @encomenda.cartao_credito %>
</p>

<%= link_to 'Edit', edit_encomenda_path(@encomenda) %> |
<%= link_to 'Back', carts_clear_path  %>
